script#seat(type="text/ng-template")
  button.btn.btn-xs(ng-click="newBooking(seat)" \
    ng-class="(seat.status === 'available') && 'btn-default' || 'btn-info'")
    | {{ seat.sector }} {{ seat.row }}/{{ seat.seat }}

script#row(type="text/ng-template")
  .row
    p
    div(ng-repeat="seat in seats | filterRow:sector:row")
      div(ng-if="(sector === 'A') || (sector === 'D')")
        .col-xs-2
          seat
      div(ng-if="(sector === 'B') || (sector === 'C')")
        .col-xs-1
          seat

script#total(type="text/ng-template")
  h4
    span.label.label-warning Total: {{ booked().length }}/{{ seats.length }}

script#booking(type="text/ng-template")
  .panel(ng-class="(seat.status === 'available') && 'panel-default' \
    || 'panel-info'")
    .panel-heading
      .row
        .col-xs-6
          strong.badge {{ seat.sector }} {{ seat.row }}/{{ seat.seat }}
        .col-xs-1
          .label(ng-class="(seat.status === 'available') && 'label-default' \
            || 'label-info'")
            | {{ seat.status }}
        .col-xs-3
          div(ng-if="seat.status === 'booked'")
            button.btn.btn-warning.btn-xs(ng-click="unbook(seat)") Unbook
        .col-xs-2
          div.text-right {{ seat.updatedOn | dt }}
    .panel-body
      form(name="booking" ng-submit="book(seat)" novalidate)
        .row
          .form-group.col-xs-3(ng-class="booking.firstName.$dirty \
            && (booking.firstName.$valid && 'has-success' || 'has-error')")
            input.form-control.input-sm(type="text" name="firstName" required
              ng-model="seat.firstName" placeholder="First name")
          .form-group.col-xs-3(ng-class="booking.lastName.$dirty \
            && (booking.lastName.$valid && 'has-success' || 'has-error')")
            input.form-control.input-sm(type="text" name="lastName" required
              ng-model="seat.lastName" placeholder="Last name")
          .form-group.col-xs-2(ng-class="booking.amount.$dirty \
            && (booking.amount.$valid && 'has-success' || 'has-error')")
            .input-group
              input.form-control.input-sm.text-right(type="text" name="amount"
                required ng-pattern="/^[1-9]\\d*(?:[.,]\\d{1,2})?$/"
                ng-model="seat.amount" placeholder="Amount")
              .input-group-addon {{ seat.currency }}
          .col-xs-2
          .col-xs-1
            button.btn.btn-danger.btn-sm(ng-click="cancelBooking()") Cancel
          .col-xs-1
            button.btn.btn-success.btn-sm(type="submit"
              ng-disabled="booking.$invalid")
              | {{ seat.status === 'available' ? 'Book' : 'Update' }}

script#bookings(type="text/ng-template")
  .panel.panel-info
    .panel-heading.text-center
      strong Bookings
    .panel-body
      table.table.table-striped.table-condensed
        thead
          tr
            th.text-right #
            th.text-center Sector
            th Row
            th Seat
            th Status
            th First name
            th Last name
            th.text-right Amount
            th.text-right Booked on
        tbody
          tr(ng-repeat="seat in seats"
            ng-class="(seat.status === 'booked') && 'info' || ''")
            td.text-right {{ seat.id }}
            td.text-center {{ seat.sector }}
            td {{ seat.row }}
            td {{ seat.seat }}
            td
              a(ng-click="newBooking(seat)" href="#")
                .label(ng-class="(seat.status === 'available') \
                  && 'label-default' || 'label-info'") {{ seat.status }}
            td {{ seat.firstName }}
            td {{ seat.lastName }}
            td.text-right {{ seat.amount | curr }} {{ seat.currency }}
            td.text-right {{ seat.updatedOn | dt }}